<form class="well form-horizontal">
  <fieldset>
    <br-input br-model="$ctrl.sysIdentifier"
      ng-keypress="$event.which == 13 && $ctrl.login()"
      br-options="{name: 'sysIdentifier', label: 'Email', placeholder: 'Email', autofocus: true}">
      <br-input-help>
        Please enter the email address that you used when you registered
        with this website.
      </br-input-help>
    </br-input>
    <div ng-if="$ctrl.multiple">
      <div class="form-group">
        <p class="alert alert-info">
          <strong>Note:</strong>
          Your email address (<strong>{{$ctrl.email}}</strong>) is
          associated with multiple identities. Please select the
          identity you'd like to sign in with.
        </p>
      </div>
      <br-select ng-if="$ctrl.multiple" br-model="$ctrl.sysIdentifier"
        br-items="$ctrl.choices" br-display-item="item.label"
        br-options="{
          name: 'sysIdentifier', label: 'Identity',
          placeholder: 'Choose...', key: 'id'
        }">
      </br-select>
    </div>
    <br-input ng-show="!$ctrl.multiple" br-model="$ctrl.password"
      ng-keypress="$event.which == 13 && $ctrl.login()"
      br-options="{name: 'password', placeholder: 'Password', type: 'password', label: 'Password'}">
      <br-input-help>
        Please enter your password.
      </br-input-help>
    </br-input>
  </fieldset>
  <div align="right">
    <span ng-show="$ctrl.loading">
      <i class="fa fa-refresh fa-spin text-muted"></i>
    </span>
    <button type="button" class="btn btn-primary"
      ng-disabled="$ctrl.loading"
      ng-click="$ctrl.login()"><i class="fa fa-sign-in"></i> Sign In</button>
  </div>
  <hr>
  <div align="right">
    <a href="#" ng-click="$ctrl.showModal.resetPassword=true">Forgot your password?</a>
  </div>
</form>

<stackable-modal stackable="$ctrl.showModal.resetPassword">
  <br-authn-password-reset-request-modal
    br-sys-identifier="$ctrl.sysIdentifier"
    br-on-submit="$ctrl.sendPasscode(options)">
  </br-authn-password-reset-request-modal>
</stackable-modal>
