<br-modal br-title="{{$ctrl.title}}">
  <br-modal-body>
    <div ng-if="$ctrl.display.requestForm">
      <h4 ng-if="!$ctrl.readOnly" class="col-md-offset-1">
        Enter your email address and we will send you a link to set your password.
      </h4>
      <h4 ng-if="$ctrl.readOnly" class="col-md-offset-1">
        We will send you an email with a link to set your password.
      </h4>
      <form name="$ctrl.requestForm" class="form-horizontal">
        <fieldset>
          <br-input br-model="$ctrl.sysIdentifier"
            br-options="{
              name: 'sysIdentifier',
              label: 'Email',
              showValidation: true,
              type: 'email',
              columns: {
                label: 'col-md-2',
                input: 'col-md-9',
                help: 'col-md-offset-2 col-md-9',
                validation: 'col-md-offset-2 col-md-9'
              }
            }" br-input-required br-input-autofocus br-input-ng-readonly="$ctrl.readOnly">
            <br-input-help>
              Please enter the email address that you used when you registered
              with this website.
            </br-input-help>
            <br-input-validation-errors>
              <p ng-show="$ctrl.requestForm.sysIdentifier.$error.required">
                Email is required
              </p>
              <p ng-show="$ctrl.requestForm.sysIdentifier.$error.email">
                Email must be a valid email address
              </p>
            </br-input-validation-errors>
          </br-input>
        </fieldset>
      </form>
    </div>
    <div ng-if="$ctrl.display.requestSubmitted">
      <h4>An email has been sent with a link to set your password.</h4>
      <h4>Email sent to: {{$ctrl.sysIdentifier}}</h4>
    </div>
  </br-modal-body>
  <br-modal-footer>
    <div align="right">
      <button ng-if="$ctrl.display.requestForm" type="button" class="btn btn-primary"
        ng-click="$ctrl.submit()"
        ng-disabled="$ctrl.requestForm.$invalid">
        Send
      </button>
      <button ng-if="$ctrl.display.requestSubmitted" type="button" class="btn btn-primary"
        ng-click="$ctrl.stackable.close()">
        Close
      </button>
    </div>
  </br-modal-footer>
</br-modal>
